modules = ["java"]

[nix]
channel = "stable-24_05"

[workflows]

[deployment]
run = ["sh", "-c", "mvn compile exec:java -Dexec.mainClass=\"com.railway.RailwayManagementSystem\" -Dexec.cleanupDaemonThreads=false"]

[[ports]]
localPort = 5000
externalPort = 80
